mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.custom-red {
  color: red;
}

ul {
  display: flex;
}

.email {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray; /* Gray color */
  display: inline-block;
  margin-left: 10px; /* Space between circle and email */
  margin-right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 5px;
}

input {
  background-color: #303030;
  border-radius: 4px;
  border: none;
  padding: 12px;
  width: 500px;
  color: white;
}

.toolbar {
  background-color: #171717;
}
