<mat-toolbar class="toolbar">
  <span>
    <a routerLink="/"> Message </a>
  </span>

  <div class="search-bar">
    <input
      #searchInput
      matInput
      type="text"
      (input)="onSearch(searchInput.value)"
      placeholder="Search"
    />
  </div>

  <!-- <span class="spacer"></span> -->
  <ul class="links">
    <li class="email" *ngIf="userIsAuthenticated">
      <span>{{ email }}</span>
      <div class="profile-circle"></div>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="custom-red"
        >New Post</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
