mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: black; /* Default link color */
  text-decoration: none; /* No underline by default */
}

.toolbar.dark-mode a {
  color: white; /* Change link color in dark mode */
  text-decoration: none; /* Ensure no underline */
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

li.dark-mode {
  color: white;
}

.custom-red {
  color: red;
}

ul {
  display: flex;
}

.email {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray; /* Gray color */
  display: inline-block;
  margin-left: 10px; /* Space between circle and email */
  margin-right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 5px;
}

input {
  background-color: white;
  border-radius: 4px;
  border: none;
  padding: 12px;
  width: 500px;
  color: white;
}

.toolbar {
  background-color: #e3e3e3;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

.toolbar.dark-mode {
  background-color: #171717;
  color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toolbar.dark-mode input {
  background-color: #303030;
  color: #ffffff;
}
