form {
  display: flex;
  flex-direction: column;
}

mat-card {
  display: flex;
  margin: auto;
  width: 500px;
  padding: 28px;
  max-width: auto;
}

mat-card-content {
  display: flex;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}

mat-spinner {
  margin: auto;
}

mat-form-field {
  background-color: white;
}

.login-title {
  font-weight: 400;
  font-size: 20px;
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 70vh;
}

.btn {
  background-color: #303030;
  color: white;
  padding: 20px;
}
