form {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #f0f0f0;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: auto;
  padding: 50px;
  max-width: 800px;
  border-radius: 10px;
}

mat-card-content {
  display: flex;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}
