form {
  display: flex;
  flex-direction: column;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: auto;
  padding: 28px;
  max-width: auto;
  border-radius: 10px;
}

mat-card-content {
  display: flex;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 1rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100px;
}

.pickImage-btn {
  margin-bottom: 10px;
}

mat-form-field {
  background-color: white;
}
