<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Post Create Component</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="wrapper">
        <textarea
          name=""
          id=""
          placeholder="Input here..."
          [(ngModel)]="enteredValue"
        ></textarea>

        <button mat-raised-button color="warn" (click)="onAddPost()">
          Save
        </button>
      </div>
    </mat-card-content>
    <p>{{ newPost }}</p>
  </mat-card>
</div>
