<div class="container">
  <mat-card>
    <mat-spinner *ngIf="Loading"></mat-spinner>
    <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!Loading">
      <mat-form-field>
        <div class="wrapper">
          <input
            matInput
            type="text"
            placeholder="Title"
            name="title"
            required
            minlength="5"
            formControlName="title"
          />
          <mat-error *ngIf="form.get('title')?.invalid"
            >Enter a title</mat-error
          >
        </div>
      </mat-form-field>
      <div>
        <button
          mat-stroked-button
          type="button"
          (click)="filepicker.click()"
          class="pickImage-btn"
        >
          Pick image
        </button>
        <input type="file" #filepicker (change)="PickedImage($event)" />
      </div>
      <div class="image-preview" *ngIf="Pickedimage">
        <img [src]="Pickedimage" [alt]="form.value.title" />
      </div>
      <mat-form-field>
        <textarea
          rows="6"
          matInput
          name="content"
          minlength="10"
          required
          placeholder="Content"
          formControlName="content"
        ></textarea>
        <mat-error *ngIf="form.get('content')?.invalid"
          >Enter a title</mat-error
        >
      </mat-form-field>
      <button mat-raised-button color="warn" type="submit">Save</button>
    </form>
  </mat-card>
</div>
