<div class="container">
  <mat-card>
    <mat-spinner></mat-spinner>
    <form>
      <mat-form-field>
        <div class="wrapper">
          <input matInput type="email" placeholder="Email Id" name="title" />
          <mat-error *ngIf="">Please enter a valid email Id</mat-error>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" />
        <mat-error *ngIf="">Please enter a valid password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="warn" type="submit">Login</button>
    </form>
  </mat-card>
</div>
